#hanna_name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #5c053d;
    text-align: center;
}
#Dan_Name{
    text-align: center;
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
        }